@*
*@
@{
}

<div class="about-section">
    <h1>About us</h1>

    <div style="font-size:25px">
        <h2>Como tudo começou?</h2>

        <p>
            Tudo surgiu com um sonho, um sonho de transformas a mobilidade e a vida nas cidades mais sustentável, incentivando o esporte, saúde e
            atividadde física. Somos uma start up que dicidiu inovar e fazer com que a vida do ciclista se tornasse mais fácil e segura.
        </p>

        <h2>o Que é o Baze?</h2>

        <p>
            O BAZE é um aplicativo de geolocalização via GPS que ajuda o ciclista a se locomover com a bike pela cidade. O usuário insere
            o ponto de partida e de destino no aplicativo e através dos nossos seviços de localização, o sistema retorna o melhor trajeto
            para o ciclista na cidade priorizando caminhos com mais ciclofaixas e ruas menos movimentadas priorizando a saúde e bem estar
            do ciclista.
        </p>

        <h2>Quais as funcionalidades que o BAZE tem?</h2>

        <ul>
            <li>
                O nosso sistema é capaz de definir trajetos do ponto A ao ponto B através do google maps, priorizando as cicofaixas no
                caminho
            </li>
            <li>
                O nosso sistema regista todas as corridas feitas pelo aplicativo em nosso sistema, para que assim você tenha salvo todo
                histórico de trajetos na plataforma
            </li>
            <li>
                É possivel cadastrar suas bikes no sistema para que você tenha registro delas em nossa plataforma
            </li>
            <li>
                Temos támbem um plano de desafios para o usuário, esses desafios são atualizados mensalmente e atráves deles o usuário consegue
                acumular pontos na plataforma. Esses pontos podem ser trocados por descontos em lojas desportivas parceiras da BAZE.
            </li>
        </ul>
    </div>

    <h2>Se Interessou? então <a asp-controller="Cadastro" asp-action="index">Cadastre-se</a> e vá de BAZE!</h2>
</div>