@model Desafio
@{
}

<div class="mb-3">
    <label asp-for="Nome"></label>
    <input asp-for="Nome" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Descricao"></label>
    <input asp-for="Descricao" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="TempoMin"></label>
    <input asp-for="TempoMin" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Recompensa"></label>
    <input asp-for="Recompensa" class="form-control" />
</div>