@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="well well-lg" style="background-color:#D3D3D3; border-radius:10px; margin:10px">
    <div style="padding:20px">
        <h2>Corrida Name</h2>
        <p>
            descrição: essa foi a minha corrida
        </p>
        <p style="font-weight:bold">Distanciao KM: 1253</p>
        <p style="font-weight:bold">Tempo Mins: 150</p>
    </div>
</div>
<div class="well well-lg" style="background-color:#D3D3D3; border-radius:10px; margin:10px">
    <div style="padding:20px">
        <h2>Corrida Name</h2>
        <p>
            descrição: essa foi a minha corrida
        </p>
        <p style="font-weight:bold">Distanciao KM: 1253</p>
        <p style="font-weight:bold">Tempo Mins: 150</p>
    </div>
</div>
<div class="well well-lg" style="background-color:#D3D3D3; border-radius:10px; margin:10px">
    <div style="padding:20px">
        <h2>Corrida Name</h2>
        <p>
            descrição: essa foi a minha corrida
        </p>
        <p style="font-weight:bold">Distanciao KM: 1253</p>
        <p style="font-weight:bold">Tempo Mins: 150</p>
    </div>
</div>